<!DOCTYPE html>
<html lang="eng">
    


    <head>
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <title>{% block title %}{% endblock %}</title>  
    </head>

    <body style="background-color: rgb(223, 226, 233);">
        <header>
            <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Navbar brand -->
      <a class="navbar-brand" href="/main">Soundlink</a>
  
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/main">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/myprofile">Profile</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/account" tabindex="-1" aria-disabled="true"
              >Account</a>
          </li>
          {% if role == 'company' %}
          <li class="nav-item">
            <a class="nav-link active" href="/advertise" tabindex="-1" aria-disabled="true"
              >Advertise</a>
          </li>
          {% endif %}
        </ul>
        <!-- Left links -->
  
        <!-- Search form -->
        <form class="d-flex input-group w-auto", method= 'POST', action = '/search'>
          <input
            type="search"
            name="key"
            class="form-control"
            placeholder="Search for ads"
            aria-label="Search"
          />
          <input class="btn btn-outline-primary" data-mdb-ripple-color="dark" type="submit"/>
        </form>
      </div>
    </div>
  </nav>
        </header>

        {% block content %} {% endblock %}
        <footer style="text-align:center;">
            <small>&copy 2020 Uzay Dalyan</small>
        </footer>
        
    </body>

</html>